<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/app.css">

	<title>Event Handling</title>
</head>
<body>
	<nav class="nav-bar"></nav>
	
	<div id="app">	
		<div class="product">
			<div class="product-image">
				<img v-bind:src="image" v-bind:alt="altText">
			</div>
			<div class="product-info">
				<h1> {{ product }} </h1>
				<p> {{ description }} </p>
				<a v-bind:href="link" v-bind:target="linkTarget">Check it Out!</a>
				<p v-if="inStock"> In Stock </p>
				<p v-else> Out of Stock</p>
				<p v-if="inventory > 10"> More than 10 in the stock</p>
				<p v-else-if="inventory < 10 && inventory >0"> Less than 10 in the stock </p>
				<p v-else>Temporary not available </p>
				<span v-show="onSale">On Sale!</span>	
				<h2>Composition of the Product:</h2>
				<ul>
					<li v-for="detail in details"> {{ detail }}</li>
				</ul>
				<h2>Sizes:</h2>
				<ul>
					<li v-for="size in sizes" :key="size.sizeID">
						<p> {{ size.sizeText }} : {{ size.sizeEU }} </p>
					</li>
				</ul>
						
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="jss/app.js"></script>	
</body>
</html>
